* {
  box-sizing: border-box;
  /* border: solid #D64078 2px; */
}

#body-about {
  padding-top: 90px;
}

#body-contact {
  background-image: url("../img/clean-background.jpg");
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 60px;
}

.nav {
  background-color: black;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 15px 10%;
}

.nav-left {
  float: left;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.nav-right {
  float: right;
}

.nav ul li {
  display: inline-block;
  padding-left: 50px;
}

.nav a {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-decoration: none;
  transition: color 500ms;
  -webkit-transition: color 500ms;
}

.nav a:hover {
  color: #ff0;
}

.main {
  margin: 10px auto;
  width: 80%;
}

.main {
  margin: 10px auto;
  width: 80%;
}

.header {
  padding-bottom: 20px;
}

.image img {
  max-width: 100%;
}

.column {
  width: 33.3333333333333333%;
  /* display: inline-block; */
  float: left;
  hyphens: auto;
}

.intro {
  padding: 0 20px;
}

.skills {
  padding: 0 10px;
  padding-top: 10px;
}

#skill-list {
  margin-left: 5%;
  padding-left: 20%;
  /* margin-left: 50px; */
}

.skills ul ul {
  padding-left: 10%;
}

.main-text {
  padding-top: 20px;
  clear: both;
}

.window {
  margin: 0 10%;
  max-width: 600px;
}

.h2 {
  padding-bottom: 10px
}

.slogan {
  padding-top: 15px;
}

/*Colors*/

.jumbotron {
  background-color: #fffeea;
  color: #34495e;
}

#body-about {
  background-color: #fffeea;
  color: #34495e;
}

.skills {
  background-color: #5ad4c2;
  color: #fff;
}
