* {
  box-sizing: border-box;
  /* border: solid #D64078 2px; */
}

body {
  padding-top: 60px;
}

/**** nav ****/

.nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 15px 0;
  z-index: 1;
}

.nav-left {
  float: left;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10%;
  padding-left: 10px;
}

.nav-right {
  float: right;
  margin-left: 10%;
  margin-right: 10%;
  padding-right: 10px;
}

.nav ul li {
  display: inline-block;
  padding-left: 50px;
}

.nav a {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-decoration: none;
  transition: color 500ms;
  -webkit-transition: color 500ms;
}

/**** main ****/

.window,
.header {
  margin: 10px auto;
  padding: 10px;
  width: 80%;
}

.header {
  padding-top: 60px;
  margin-top: -40px;
  padding-bottom: 20px;
}

.window--contact {
  max-width: 600px;
  margin: 0 10%;
  padding: 10px;
}

.container--window {
  padding: 10px;
}

.contact .header {
  padding-top: 10px;
}

.empty {
  height: 10px;
}

.container-fluid {
  padding: 0;
}

.row {
  margin: -10px -10px;
}

.col {
  padding: 10px;
}

.h2 {
  padding-bottom: 10px
}

/* .jumbotron--banner {
  margin: auto;
  padding: auto;
  width: 100%;
} */

.image img {
  max-width: 100%;
}

/* .column {
  width: 33.3333333333333333%;
  float: left;
  hyphens: auto;
} */

.skills>ul {
  padding-left: 22%;
  padding-right: 20px;
}

.main-text {
  padding-top: 20px;
  /* clear: both; */
}

.slogan {
  padding-top: 15px;
}

.email,
.address {
  transition: all 400ms;
  -webkit-transition: all 400ms;
}

.email:hover,
.address:hover {
  font-size: 2.5rem;
}

.panel-heading a {
  text-decoration: none;
}

/**** Typography ****/

.h1,
.h2,
.h3,
.nav a,
.panel-title,
.carousel-caption,
.skills {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  /* margin-top: 0; */
  }

body,
p {
  font-family: Georgia, Times, 'Times New Roman', serif;
}

.intro p,
.contact p {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  font-weight: 100;
  -webkit-margin-before: 0;
}

.skills h2 {
  text-align: center;
  text-transform: uppercase;
}

.carousel-caption {
  text-shadow: 3px 3px 0px #000;
  font-size: 1em;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .main .header h1 {
    font-size: 63px;
  }
  .carousel-caption {
    font-size: 2.2vw;
  }
}

/**** Colors ****/

body,
.faq,
.contact .window--contact {
  background-color: white;
  color: #3D6485;
}

.panel-default>.panel-heading {
  background-color: #496C89;
  color: white;
}

.contact,
.window--contact {
  background-color: #A15088;
  color: #3D6485;
}

.nav {
  background-color: #042037;
}
.nav a {
  color: white;
}

.nav a:hover {
  color: #F2FAA7;
}

/* .jumbotron--banner {
  background-image: url("../img/pexels-photo-grey-small.jpg");
  background-size: cover;
  background-position: center center;
  color: white;
  text-shadow: 2px 2px 4px black;
} */

.panel-heading {
  background-color: #A6A4B1;
}

.skills {
  background-color: #40002D;
  color: white;
}

.carousel-caption {
  /* width: 100%; */
  background-color:rgba( 4, 32, 55, 0.7);
}
